ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CODE_SIGN_IDENTITY=Apple Development
CODE_SIGN_STYLE=Automatic
COMBINE_HIDPI_IMAGES=YES
DEVELOPMENT_TEAM=
ENABLE_HARDENED_RUNTIME=YES
INFOPLIST_FILE=sources/Info.plist
LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/../Frameworks
MARKETING_VERSION=3.4
PRODUCT_NAME=$(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER=
SWIFT_SWIFT3_OBJC_INFERENCE=Default
SWIFT_VERSION=5.0

